{
  "openapi": "3.0.3",
  "info": {
    "title": "Lattix Mesh Dashboard API",
    "version": "0.1.0",
    "description": "Auto-generated OpenAPI skeleton from Next.js route handlers under app/api. Review and enrich before external publication."
  },
  "servers": [
    {
      "url": "https://app.lattix.io",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/admin/identity-config": {
      "get": {
        "operationId": "get_api_admin_identity_config",
        "summary": "GET /api/admin/identity-config",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_admin_identity_config",
        "summary": "PUT /api/admin/identity-config",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/admin/mesh-settings": {
      "get": {
        "operationId": "get_api_admin_mesh_settings",
        "summary": "GET /api/admin/mesh-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_admin_mesh_settings",
        "summary": "PUT /api/admin/mesh-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/admin/passport-share-settings": {
      "get": {
        "operationId": "get_api_admin_passport_share_settings",
        "summary": "GET /api/admin/passport-share-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_admin_passport_share_settings",
        "summary": "PUT /api/admin/passport-share-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/admin/policy-settings": {
      "get": {
        "operationId": "get_api_admin_policy_settings",
        "summary": "GET /api/admin/policy-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_admin_policy_settings",
        "summary": "PUT /api/admin/policy-settings",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/admin/usage-snapshot": {
      "get": {
        "operationId": "get_api_admin_usage_snapshot",
        "summary": "GET /api/admin/usage-snapshot",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/analytics": {
      "get": {
        "operationId": "get_api_analytics",
        "summary": "GET /api/analytics",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/audit/events": {
      "get": {
        "operationId": "get_api_audit_events",
        "summary": "GET /api/audit/events",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "operationId": "get_api_auth_logout",
        "summary": "GET /api/auth/logout",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_auth_logout",
        "summary": "POST /api/auth/logout",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/workos/callback": {
      "get": {
        "operationId": "get_api_auth_workos_callback",
        "summary": "GET /api/auth/workos/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/auth/workos/start": {
      "get": {
        "operationId": "get_api_auth_workos_start",
        "summary": "GET /api/auth/workos/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/billing/refresh": {
      "post": {
        "operationId": "post_api_billing_refresh",
        "summary": "POST /api/billing/refresh",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/billing/summary": {
      "get": {
        "operationId": "get_api_billing_summary",
        "summary": "GET /api/billing/summary",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/billing/update": {
      "post": {
        "operationId": "post_api_billing_update",
        "summary": "POST /api/billing/update",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/cids/compute": {
      "post": {
        "operationId": "post_api_cids_compute",
        "summary": "POST /api/cids/compute",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/connectors/box/callback": {
      "get": {
        "operationId": "get_api_connectors_box_callback",
        "summary": "GET /api/connectors/box/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/box/start": {
      "get": {
        "operationId": "get_api_connectors_box_start",
        "summary": "GET /api/connectors/box/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/dropbox/callback": {
      "get": {
        "operationId": "get_api_connectors_dropbox_callback",
        "summary": "GET /api/connectors/dropbox/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/dropbox/start": {
      "get": {
        "operationId": "get_api_connectors_dropbox_start",
        "summary": "GET /api/connectors/dropbox/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/google-drive/callback": {
      "get": {
        "operationId": "get_api_connectors_google_drive_callback",
        "summary": "GET /api/connectors/google-drive/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/google-drive/start": {
      "get": {
        "operationId": "get_api_connectors_google_drive_start",
        "summary": "GET /api/connectors/google-drive/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/onedrive/callback": {
      "get": {
        "operationId": "get_api_connectors_onedrive_callback",
        "summary": "GET /api/connectors/onedrive/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/onedrive/start": {
      "get": {
        "operationId": "get_api_connectors_onedrive_start",
        "summary": "GET /api/connectors/onedrive/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/sharepoint/callback": {
      "get": {
        "operationId": "get_api_connectors_sharepoint_callback",
        "summary": "GET /api/connectors/sharepoint/callback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/connectors/sharepoint/start": {
      "get": {
        "operationId": "get_api_connectors_sharepoint_start",
        "summary": "GET /api/connectors/sharepoint/start",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/crypto/actions": {
      "get": {
        "operationId": "get_api_crypto_actions",
        "summary": "GET /api/crypto/actions",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_crypto_actions",
        "summary": "POST /api/crypto/actions",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/crypto/keys": {
      "get": {
        "operationId": "get_api_crypto_keys",
        "summary": "GET /api/crypto/keys",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/db/ping": {
      "get": {
        "operationId": "get_api_db_ping",
        "summary": "GET /api/db/ping",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "operationId": "post_api_feedback",
        "summary": "POST /api/feedback",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "operationId": "get_api_files",
        "summary": "GET /api/files",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/files/count": {
      "get": {
        "operationId": "get_api_files_count",
        "summary": "GET /api/files/count",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/files/locations": {
      "get": {
        "operationId": "get_api_files_locations",
        "summary": "GET /api/files/locations",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/files/summary": {
      "get": {
        "operationId": "get_api_files_summary",
        "summary": "GET /api/files/summary",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/files/{cid}": {
      "get": {
        "operationId": "get_api_files_cid_",
        "summary": "GET /api/files/{cid}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_api_files_cid_",
        "summary": "PATCH /api/files/{cid}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/files/{cid}/history": {
      "get": {
        "operationId": "get_api_files_cid_history",
        "summary": "GET /api/files/{cid}/history",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/files/{cid}/manifest": {
      "get": {
        "operationId": "get_api_files_cid_manifest",
        "summary": "GET /api/files/{cid}/manifest",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/files/{cid}/pdp-pep": {
      "get": {
        "operationId": "get_api_files_cid_pdp_pep",
        "summary": "GET /api/files/{cid}/pdp-pep",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/health": {
      "get": {
        "operationId": "get_api_health",
        "summary": "GET /api/health",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/kms/unwrap": {
      "post": {
        "operationId": "post_api_kms_unwrap",
        "summary": "POST /api/kms/unwrap",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/lineage": {
      "get": {
        "operationId": "get_api_lineage",
        "summary": "GET /api/lineage",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/lineage/summary": {
      "get": {
        "operationId": "get_api_lineage_summary",
        "summary": "GET /api/lineage/summary",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/agents": {
      "get": {
        "operationId": "get_api_mesh_agents",
        "summary": "GET /api/mesh/agents",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_mesh_agents",
        "summary": "POST /api/mesh/agents",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/mesh/agents/{id}": {
      "patch": {
        "operationId": "patch_api_mesh_agents_id_",
        "summary": "PATCH /api/mesh/agents/{id}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_api_mesh_agents_id_",
        "summary": "POST /api/mesh/agents/{id}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/mesh/certs": {
      "post": {
        "operationId": "post_api_mesh_certs",
        "summary": "POST /api/mesh/certs",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/mesh/graph": {
      "get": {
        "operationId": "get_api_mesh_graph",
        "summary": "GET /api/mesh/graph",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/links": {
      "get": {
        "operationId": "get_api_mesh_links",
        "summary": "GET /api/mesh/links",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/logs": {
      "get": {
        "operationId": "get_api_mesh_logs",
        "summary": "GET /api/mesh/logs",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/overview": {
      "get": {
        "operationId": "get_api_mesh_overview",
        "summary": "GET /api/mesh/overview",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/pdp-pep": {
      "get": {
        "operationId": "get_api_mesh_pdp_pep",
        "summary": "GET /api/mesh/pdp-pep",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/mesh/topology": {
      "get": {
        "operationId": "get_api_mesh_topology",
        "summary": "GET /api/mesh/topology",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/metrics": {
      "get": {
        "operationId": "get_api_metrics",
        "summary": "GET /api/metrics",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/nodes": {
      "get": {
        "operationId": "get_api_nodes",
        "summary": "GET /api/nodes",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/onboarding/advance": {
      "post": {
        "operationId": "post_api_onboarding_advance",
        "summary": "POST /api/onboarding/advance",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/onboarding/complete": {
      "post": {
        "operationId": "post_api_onboarding_complete",
        "summary": "POST /api/onboarding/complete",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/onboarding/invite": {
      "post": {
        "operationId": "post_api_onboarding_invite",
        "summary": "POST /api/onboarding/invite",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/onboarding/org": {
      "post": {
        "operationId": "post_api_onboarding_org",
        "summary": "POST /api/onboarding/org",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/onboarding/status": {
      "get": {
        "operationId": "get_api_onboarding_status",
        "summary": "GET /api/onboarding/status",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/passport/batches": {
      "post": {
        "operationId": "post_api_passport_batches",
        "summary": "POST /api/passport/batches",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/ingest": {
      "post": {
        "operationId": "post_api_passport_ingest",
        "summary": "POST /api/passport/ingest",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/ingest/status/{uploadId}": {
      "get": {
        "operationId": "get_api_passport_ingest_status_uploadId_",
        "summary": "GET /api/passport/ingest/status/{uploadId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/passport/manifest": {
      "post": {
        "operationId": "post_api_passport_manifest",
        "summary": "POST /api/passport/manifest",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/public/shares/{shareId}": {
      "get": {
        "operationId": "get_api_passport_public_shares_shareId_",
        "summary": "GET /api/passport/public/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/passport/public/shares/{shareId}/download": {
      "get": {
        "operationId": "get_api_passport_public_shares_shareId_download",
        "summary": "GET /api/passport/public/shares/{shareId}/download",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/passport/public/shares/{shareId}/otp": {
      "post": {
        "operationId": "post_api_passport_public_shares_shareId_otp",
        "summary": "POST /api/passport/public/shares/{shareId}/otp",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/public/shares/{shareId}/verify": {
      "post": {
        "operationId": "post_api_passport_public_shares_shareId_verify",
        "summary": "POST /api/passport/public/shares/{shareId}/verify",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/publish": {
      "post": {
        "operationId": "post_api_passport_publish",
        "summary": "POST /api/passport/publish",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/shares": {
      "get": {
        "operationId": "get_api_passport_shares",
        "summary": "GET /api/passport/shares",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_passport_shares",
        "summary": "POST /api/passport/shares",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/shares/{shareId}": {
      "get": {
        "operationId": "get_api_passport_shares_shareId_",
        "summary": "GET /api/passport/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_passport_shares_shareId_",
        "summary": "POST /api/passport/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/passport/ttl/sweep": {
      "post": {
        "operationId": "post_api_passport_ttl_sweep",
        "summary": "POST /api/passport/ttl/sweep",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/policies": {
      "get": {
        "operationId": "get_api_policies",
        "summary": "GET /api/policies",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_policies",
        "summary": "POST /api/policies",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/policies/evaluate": {
      "post": {
        "operationId": "post_api_policies_evaluate",
        "summary": "POST /api/policies/evaluate",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/policies/{policyId}": {
      "delete": {
        "operationId": "delete_api_policies_policyId_",
        "summary": "DELETE /api/policies/{policyId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_api_policies_policyId_",
        "summary": "GET /api/policies/{policyId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_api_policies_policyId_",
        "summary": "PUT /api/policies/{policyId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/policy-templates": {
      "get": {
        "operationId": "get_api_policy_templates",
        "summary": "GET /api/policy-templates",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_policy_templates",
        "summary": "POST /api/policy-templates",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/proof/verify": {
      "post": {
        "operationId": "post_api_proof_verify",
        "summary": "POST /api/proof/verify",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms": {
      "get": {
        "operationId": "get_api_rooms",
        "summary": "GET /api/rooms",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_rooms",
        "summary": "POST /api/rooms",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/ingest": {
      "post": {
        "operationId": "post_api_rooms_ingest",
        "summary": "POST /api/rooms/ingest",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/ingest/status/{uploadId}": {
      "get": {
        "operationId": "get_api_rooms_ingest_status_uploadId_",
        "summary": "GET /api/rooms/ingest/status/{uploadId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/rooms/public/shares/{shareId}": {
      "get": {
        "operationId": "get_api_rooms_public_shares_shareId_",
        "summary": "GET /api/rooms/public/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/rooms/public/shares/{shareId}/download": {
      "get": {
        "operationId": "get_api_rooms_public_shares_shareId_download",
        "summary": "GET /api/rooms/public/shares/{shareId}/download",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/rooms/public/shares/{shareId}/otp": {
      "post": {
        "operationId": "post_api_rooms_public_shares_shareId_otp",
        "summary": "POST /api/rooms/public/shares/{shareId}/otp",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/public/shares/{shareId}/verify": {
      "post": {
        "operationId": "post_api_rooms_public_shares_shareId_verify",
        "summary": "POST /api/rooms/public/shares/{shareId}/verify",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/publish": {
      "post": {
        "operationId": "post_api_rooms_publish",
        "summary": "POST /api/rooms/publish",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/shares": {
      "get": {
        "operationId": "get_api_rooms_shares",
        "summary": "GET /api/rooms/shares",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_rooms_shares",
        "summary": "POST /api/rooms/shares",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/shares/{shareId}": {
      "get": {
        "operationId": "get_api_rooms_shares_shareId_",
        "summary": "GET /api/rooms/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_rooms_shares_shareId_",
        "summary": "POST /api/rooms/shares/{shareId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}": {
      "delete": {
        "operationId": "delete_api_rooms_roomId_",
        "summary": "DELETE /api/rooms/{roomId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_api_rooms_roomId_",
        "summary": "GET /api/rooms/{roomId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_api_rooms_roomId_",
        "summary": "PUT /api/rooms/{roomId}",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/access": {
      "get": {
        "operationId": "get_api_rooms_roomId_access",
        "summary": "GET /api/rooms/{roomId}/access",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/rooms/{roomId}/files": {
      "delete": {
        "operationId": "delete_api_rooms_roomId_files",
        "summary": "DELETE /api/rooms/{roomId}/files",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_api_rooms_roomId_files",
        "summary": "GET /api/rooms/{roomId}/files",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/rooms/{roomId}/members": {
      "get": {
        "operationId": "get_api_rooms_roomId_members",
        "summary": "GET /api/rooms/{roomId}/members",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_rooms_roomId_members",
        "summary": "POST /api/rooms/{roomId}/members",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/members/lookup": {
      "get": {
        "operationId": "get_api_rooms_roomId_members_lookup",
        "summary": "GET /api/rooms/{roomId}/members/lookup",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/settings/access/connections": {
      "get": {
        "operationId": "get_api_settings_access_connections",
        "summary": "GET /api/settings/access/connections",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/access/setup-link": {
      "get": {
        "operationId": "get_api_settings_access_setup_link",
        "summary": "GET /api/settings/access/setup-link",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/connectors": {
      "delete": {
        "operationId": "delete_api_settings_connectors",
        "summary": "DELETE /api/settings/connectors",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "get": {
        "operationId": "get_api_settings_connectors",
        "summary": "GET /api/settings/connectors",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "operationId": "post_api_settings_connectors",
        "summary": "POST /api/settings/connectors",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/connectors/sync": {
      "post": {
        "operationId": "post_api_settings_connectors_sync",
        "summary": "POST /api/settings/connectors/sync",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/data-residency": {
      "get": {
        "operationId": "get_api_settings_data_residency",
        "summary": "GET /api/settings/data-residency",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_settings_data_residency",
        "summary": "PUT /api/settings/data-residency",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/data-residency/options": {
      "get": {
        "operationId": "get_api_settings_data_residency_options",
        "summary": "GET /api/settings/data-residency/options",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/encryption": {
      "get": {
        "operationId": "get_api_settings_encryption",
        "summary": "GET /api/settings/encryption",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_settings_encryption",
        "summary": "PUT /api/settings/encryption",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/encryption/compliance": {
      "get": {
        "operationId": "get_api_settings_encryption_compliance",
        "summary": "GET /api/settings/encryption/compliance",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/encryption/internal": {
      "get": {
        "operationId": "get_api_settings_encryption_internal",
        "summary": "GET /api/settings/encryption/internal",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/passport": {
      "get": {
        "operationId": "get_api_settings_passport",
        "summary": "GET /api/settings/passport",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_settings_passport",
        "summary": "PUT /api/settings/passport",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/roles": {
      "get": {
        "operationId": "get_api_settings_roles",
        "summary": "GET /api/settings/roles",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_settings_roles",
        "summary": "PUT /api/settings/roles",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/settings/summary": {
      "get": {
        "operationId": "get_api_settings_summary",
        "summary": "GET /api/settings/summary",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/settings/team": {
      "get": {
        "operationId": "get_api_settings_team",
        "summary": "GET /api/settings/team",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "operationId": "put_api_settings_team",
        "summary": "PUT /api/settings/team",
        "tags": [
          "mesh-dashboard"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
